@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");

:root{
    --main-color:#0d47a1;
    --button-text-color: #424242;
    --button-hover-text-color: #ffffff;
}

*{
    box-sizing:border-box;
    user-select: none;
}

body, html{
    font-family: 'Texturina', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x:hidden;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
  
@media (prefers-reduced-motion: reduce) {
    body, html {
      scroll-behavior: auto;
    }
}

/* Header */

header{
    display:flex;
    padding:15px;
    margin-top:10px;
    gap: 30px;
    vertical-align: center;
    
    > span{

        font-weight: bold;
    }

    & div{

        & button{

            margin-left: 5px;
            outline:none;
            border:none;
            padding:10px;
            border-radius:20px;
            color:var(--button-text-color);

            & span{

                vertical-align: top;
            }

            & svg{

                width:14px;
                height:14px;
                fill:var(--button-text-color);
            }
    
        }

        /* Buttons hover */

        & :hover{

            background: var(--main-color);
            color: var(--button-hover-text-color);

            & svg {

                fill: var(--button-hover-text-color); 

            }
        }

    }

    
}

